@import "~bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";

header {
    height: 80px;
    background-color: #0078aa;
    padding: 0 30px;
    ul {
        display: flex;
        align-items: center;
        list-style: none;
    }
    li {
        margin-right: 20px;
    }
    a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        &:hover {
            color: white;
        }
    }
    i {
        font-size: 40px;
    }
    margin-bottom: 20px;
}

main {
    background-color: #3ab4f2;
    min-height: calc(100vh - 180px);
    padding: 50px 0;
}

footer {
    background-color: #f2df3a;
    height: 100px;
    padding: 0 30px;
    i {
        margin-left: 20px;
        font-size: 30px;
    }
}
